<header>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{css/stylesheet.css}">
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="//s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
	<script th:src="@{scripts/multi.min.js}"></script>
	<link rel="stylesheet" th:href="@{css/multi.min.css}">
	<link rel="stylesheet" type="text/css" media="screen"
		href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css">
</header>

<head>
<meta name="viewport" content="width=device-width, user-scalable=no">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
	rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
</head>

<div id="wrapper" class="container">
	<h1>Cadastro de Médico</h1>
	<p>Preencha as informações abaixo.</p>
	<form id="form-work" class="" name="form-work" action="#"
		th:action="@{/new_doctor}" th:object="${doctor}" method="post">
		<fieldset>
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="nome">Nome Completo</label> <input
						id="name" class="form-control" placeholder="João Pereira da Silva"
						type="text" th:field="*{name}">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="crm">CRM</label> <input id="tel"
						class="form-control" placeholder="99999" type="text"
						th:field="*{crm}">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label" for="specialty" multiple>Especialidades</label>
					<select th:field="*{specialtyList}" id="specialty" multiple>
						<option th:each="specialty: ${specialties}"
							th:value="${specialty.code}" th:utext="${specialty.name}"></option>
					</select>
				</div>
			</div>
			<script>
				var select = document.getElementById('specialty');
				multi(select);
			</script>
			
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="director" multiple>Diretor</label>
					<select class="form-control" th:field="*{director}" id="director">
						<option th:each="director: ${directors}"
							th:value="${director.code}" th:utext="${director.name}"></option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="commission">Comissão</label> <input id="commission"
						class="form-control" placeholder="100" type="text"
						th:field="*{commission}">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="timeIn" multiple>Horário
						de Entrada</label>
					<div class="input-group bootstrap-timepicker timepicker">
						<input id="timepicker1" type="text"
							class="form-control input-small" th:field="*{timeIn}"> <span
							class="input-group-addon"> <i
							class="glyphicon glyphicon-time"></i>
						</span>
					</div>

					<script type="text/javascript">
						$('#timepicker1').timepicker({
							template : 'dropdown',
							appendWidgetTo : 'body',
							showSeconds : true,
							showMeridian : false,
							defaultTime : '09:00:00',
							showSeconds : false,
							snapToStep : true,
							minuteStep : 60,
							secondStep : 60
						});
					</script>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="timeOut" multiple>Horário
						de Saída</label>
					<div class="input-group bootstrap-timepicker timepicker">
						<input id="timepicker2" type="text"
							class="form-control input-small" th:field="*{timeOut}"> <span
							class="input-group-addon"> <i
							class="glyphicon glyphicon-time"></i>
						</span>
					</div>

					<script type="text/javascript">
						$('#timepicker2').timepicker({
							template : 'dropdown',
							appendWidgetTo : 'body',
							showSeconds : true,
							showMeridian : false,
							defaultTime : '09:00:00',
							showSeconds : false,
							snapToStep : true,
							minuteStep : 60,
							secondStep : 60
						});
					</script>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label" for="dayOff">Folga</label> <select
						th:field="*{dayOff}" class="form-control custom-select" id="dayOff">
						<option value=0>Domingo</option>
						<option value=1>Segunda-feira</option>
						<option value=2>Terça-feira</option>
						<option value=3>Quarta-feira</option>
						<option value=4>Quinta-feira</option>
						<option value=5>Sexta-feira</option>
						<option value=6>Sábado</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-lg btn-block info">Cadastrar</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class="col-md-12">
		<button onclick='window.location.replace("index")' class="btn btn-primary btn-lg btn-block info">Voltar</button>
	</div>
</div>