<header>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{css/stylesheet.css}">
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="//s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
	<link rel="stylesheet" type="text/css" media="screen"
		href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
	<script src="sweetalert2/dist/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/jquery-ui-git.css">
	<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
</header>

<head>
<meta name="viewport" content="width=device-width, user-scalable=no">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
	rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
</head>

<div id="wrapper" class="container">
	<h1>Cadastro de Paciente</h1>
	<p>Preencha as informações abaixo.</p>
	<form id="form-work" class="" name="form-work" action="#"
		th:action="@{/new_patient}" th:object="${patient}" method="post">
		<fieldset>
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="nome">Nome Completo</label> <input
						id="name" class="form-control" placeholder="João Pereira da Silva"
						type="text" th:field="*{name}"
						pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="tel">Telefone</label> <input
						id="tel" class="form-control" placeholder="(99) 9 0000 0000"
						type="text" th:field="*{phone}"
						pattern="[(][0-9][0-9][)] [0-9] [0-9][0-9][0-9][0-9] [0-9][0-9][0-9][0-9]"
						required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="email">Email</label> <input
						id="email" class="form-control"
						placeholder="joao.pereira.silva@gmail.com" type="text"
						th:field="*{email}"
						pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
						required>
				</div>
			</div>

			<script>
				$(function() {
					$("#datepicker").datepicker({
						dateFormat: 'dd-mm-yy',
						yearRange : "-110:+0",
						maxDate : new Date(),
						changeYear : true,
						editable : true
					});
				});

				function checkDate() {
					if ($('#datepicker').val() == '') {
						$('#datepicker').addClass('invalid')
						return false
					} else {
						$('#datepicker').removeClass('invalid')
						return true
					}
				}

				$('form').submit(function() {
					return checkDate();
				});

				$('#datepicker').change(function() {
					checkDate();
				});
			</script>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="district">Data de
						Nascimento</label> <input class="form-control" type="text" id="datepicker"
						th:field="*{birthDate}" readonly required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="nome">Sexo</label> <select
						th:field="*{sex}" class="form-control custom-select" id="sex"
						required>
						<option value="M">Masculino</option>
						<option value="F">Feminino</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="district">CPF</label> <input
						id="cpf" class="form-control" placeholder="000.000.000-00"
						type="text" th:field="*{cpf}"
						patter="[0-9][0-9][0-9][.][0-9][0-9][0-9][.][0-9][0-9][0-9][-][0-9][0-9]"
						required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-lg btn-block info">Cadastrar</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class="col-md-12">
		<button onclick='window.location.replace("index")'
			class="btn btn-primary btn-lg btn-block info">Voltar</button>
	</div>
</div>

<script>
	$("#tel").inputmask({
		"mask" : "(99) 9 9999 9999"
	});
	$("#cpf").inputmask({
		"mask" : "999.999.999-99"
	});
	$("#birth").inputmask({
		"datepicker" : "99/99/9999"
	});
</script>